/* Widget css */

/* Chat Widget starts */

.chats{
	list-style-type: none;
	margin: 0px;
}

.chats li{
	margin-bottom: 8px;
	padding-bottom: 8px;
}

.chats .by-me img{
	margin-top: 5px;
	margin-right:10px;
}

.chats .by-me .chat-meta{
	font-size: 10px;
}

.chats .by-me .chat-content{
	margin-left: 6px;
	position: relative; 
	background: #f7f7f7; 
	padding: 7px 10px;
	font-size: 12px;
	border-top: 2px solid #fa3031;
}

.chats .by-me .chat-content:after, .chats .by-me .chat-content:before { 
	right: 100%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

.chats .by-me .chat-content:after { 
	border-color: rgba(255, 255, 255, 1); 
	border-right-color: #f7f7f7; 
	border-width: 10px; 
	top: 30%; 
	margin-top: -10px; 
} 

.chats .by-me .chat-content:before { 
	border-color: rgba(238, 238, 238, 0); 
	border-right-color: #ccc; 
	border-width: 11px; 
	top: 30%; 
	margin-top: -11px; 
}

.chats .by-other img{
	margin-top: 5px;
	margin-left:10px;
}

.chats .by-other .chat-meta{
	font-size: 10px;
	color: #999;
}

.chats .by-other .chat-content{
	margin-right: 6px;
	position: relative; 
	background: #f7f7f7; 
	border-top:2px solid #43c83c;
	padding: 7px 10px;
	font-size: 12px;
}

.chats .by-other .chat-content:after, .chats .by-other .chat-content:before { 
	left: 100%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

.chats .by-other .chat-content:after { 
	border-color: rgba(255, 255, 255, 1); 
	border-left-color: #f7f7f7; 
	border-width: 10px; 
	top: 30%; 
	margin-top: -10px; 
} 

.chats .by-other .chat-content:before { 
	border-color: rgba(238, 238, 238, 0); 
	border-left-color: #ccc; 
	border-width: 11px; 
	top: 30%; 
	margin-top: -11px; 
}

/* Chat widget ends */


/* Recent posts & Comments widgets starts */


.recent-content .btn{
	font-size: 11px !important;
	margin-top: 5px;
}

.recent-meta{
	font-size: 10px;
	color: #999;
}

.recent {
	list-style-type: none;
	margin: 0px;
	font-size: 12px;
	line-height: 16px;
}

.recent img{
	margin-top: 5px;
	margin-right:10px;
}

.recent li{
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
}

/* Recent posts and comments widget ends */

/* File upload widget starts */

.file-upload{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.file-upload .btn{
	font-size: 8px !important;
}

.file-upload li{
	padding:9px 10px;
  border-top: 1px solid #ddd;
}

.file-upload li:first-child{
	border-top: 0px;
}

.file-upload .file-meta{
	font-size: 12px;
	padding: 3px 0px;
}

.file-upload .progress{
	margin: 7px 0px !important;
}

/* File upload widget ends */


/* Tasks starts */

.task{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.task li{
	padding:12px 10px;	
  border-top: 1px solid #ddd;
}

.task li:first-child{
	border-top: 0px;
}

.task .label{
	margin-left: 5px;
}

.task .btn{
	font-size: 11px !important;
}

/* Tasks ends */

/* Referrer - OS and Browser */

.referrer img{
	max-width: 20px;
	width: 20px;
	display: block;
	margin: 0 auto;
}

/* Referrer ends */

/* Latest news */

.latest-news{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.latest-news li{
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.latest-news li:last-child{
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.latest-news h6{
	line-height: 20px;
}

.latest-news h6 span{
	font-weight: normal;
	font-size: 11px;
	color: #666;
}

/* Quick post */

.quick-post{
	margin-top: 20px;
}

/* Project starts */

.project{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.project li{
	padding:10px 10px;
  border-top: 1px solid #ddd;
}

.project li:first-child{
	border-top: 0px;
}

.project p{
	font-weight: bold;
	margin: 0px !important;
	padding: 0px !important
}

.project .p-meta{
	font-size: 11px;
	font-weight: normal;
	margin-left: 20px !important;
	margin-bottom: 5px !important;
}

.project .progress{
	margin:0px !important;
	padding: 0px !important;
	margin-left: 20px !important;
}

/* Proejct ends */

/* Recent Activity starts */

.activity{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.activity li{
	padding:10px 10px;
  background-color: #fff;	
  border-top: 1px solid #ddd;
}

.activity li:first-child{
	border-top: 0px;
}

.activity i{
	margin-right: 5px;
}

/* Recent activity ends */

/* Google maps */

.gmap iframe{
	width: 100%;
	margin: 0px !important;
	padding: 0px !important;
}

/* Google maps ends */

/* Users starts */

.user h6{
	line-height: 17px !important;
}

.user{
	font-size: 12px !important;
	line-height: 20px !important;
}

.user img{
	max-width: 70px;
	margin-top: 10px;
}

.user .user-pic{
	float: left;
	width: 80px;
}

.user .user-details{
	margin-left: 85px;
}

.user .btn{
	font-size: 11px !important;
}

/* Users ends */