.row-fluid {
	max-width: 984px !important;
	margin: 0 auto;
}
.hotprojectArea {
	width: initial !important;
	border-radius: 10px;
}
.projectRow {
	padding: 0 15px;
	width: initial !important;
}
.listHeading {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.contact-add {
margin-right: -25px;
}
.contact input[type="text"], .contact textarea , .contact button{
margin: 7px;
}
.contact-info p {
margin: 10px;
line-height: 12px;
color: #F37070;
}
.menu li {
list-style: none;
display: inline;
padding: 12px 0px 6px 12px;
}
.menu {
width: 340px;
margin: 0 auto;
font-weight: bold;
font-size: 14px;
padding: 3px 0;
}
.right.carousel-control , .left.carousel-control {
margin-top: 100px !important;
}
.slider {
background: #7B7C80;
}
.thumbnail {
background: #DDD;
}
.image {
margin: 0 auto;
margin-top: -38px;
padding-left: 16%;
}
.content.com-logo {
margin: 0px;
padding: 0px;
}
.com-logo {
width: 960px;
margin: -9px auto !important;
}
.address {
width: 550px;
float: right;
margin-top: 20px;
}
.address img {
padding-left: 40px;
padding-right: 10px;
}
footer{
font-size: x-small;
text-align: center;
}
footer li {
display: inline;
border-right: 1px solid;
padding: 0px 10px;
}
.menu-last {
border-right: 0;
}
.small-text {
font-size: 12px;
text-align: justify;
padding: 10px;
}
.contact-info{
font-size: 11px;
}
input[type="checkbox"] {
margin: -1px 5px 0px 10px;
}
.colorbox {
border: 1px solid #000;
width: 100%;
background: #CCC;
z-index: 1500;
bottom: 10px;
position: fixed;
color: #FF0000;
padding: 0 10px;
font-size: xx-small;
 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.colorbox label {
font-size: xx-small;
font-weight: bold;
margin: 0;
}
.block {
width:14.28%;
overflow: hidden;
float: left;
}
.input-box {
width: 55px;
}
.block label {
background: #DDD;
margin: 4px 0px;
}
input.input-box {
background: #DDD !important;
}
.navbar-inner {
background: #000 !important;
}

.headerBar{
	background: #f9fcf7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9fcf7 0%, #f1f4ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f1f4ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f1f4ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9fcf7 0%,#f1f4ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9fcf7 0%,#f1f4ed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9fcf7 0%,#f1f4ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f1f4ed',GradientType=0 ); /* IE6-9 */
	border-bottom:solid 1px #eee;
}
.com_Src{
	width:300px;
	height:20px;
	background:#FFF;
	line-height:20px;
	border:solid 1px #ccc;
}
.com_Headerbutton{
	border:solid 1px #eee;
	line-height:20px;
	text-align:center;
	padding:px 10 0px 10;
	color:#0033FF;
	font-size:11px;
	cursor:pointer;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
.dropdown-menu {
line-height: 0px;
}
.top-company li{
list-style: none;
display: inline;
}
.logo-com{
vertical-align: bottom;
}
.search {
border-radius: 5px;
border: 1px solid #CCC;
padding: 0px 30px 0px 10px;
font-size: small;
}
.search-icon {
position: absolute;
top: 16px;
margin-left: -20px;
height: 15px;
width: 15px;
}
.search-select {
font-size: small;
border-radius: 5px;
border: 1px solid #CCC;
padding: 0px 0px 0px 10px;
}
.top-company li {
font-size: smaller;
}
.top-company button {
font-size: 14px;
}























