@charset "utf-8";
/* CSS Document */

body{
    margin:0;
    font-size:1.2em;
    font-family:Arial,Helvetica,sans-serif,Verdana;
} 
code{
    margin:0;
    color:#006600;
    font-size:1.1em;
    font-weight:bold;
} 
.config_source code{
    font-size:.8em;color:#000000;
} 
.loc_Link{
	font-size:11px; 
	color:#9b9e9f;
	height:25px;
	line-height:25px;
}
pre{
    margin:0;font-size:1.4em;
    word-wrap:break-word;
} 
ul,ol{
    margin:10px 0 10px 5px;
} 
ul.first,ol.first{
    margin-top:5px;
} 
fieldset{
    padding:0 15px 10px 15px;
    word-break:break-all;
} 
.summary-container fieldset{
    padding-bottom:5px;
    margin-top:4px;
} 
legend.no-expand-all{
    padding:2px 15px 4px 10px;
    margin:0 0 0 -12px;
} 
legend{
    color:#333333;;
    margin:4px 0 8px -12px;
    _margin-top:0px; 
    font-weight:bold;
    font-size:1em;
} 
a:link,a:visited{
    color:#007EFF;
   /* font-weight:bold;*/
} 
a:hover{
    text-decoration:none;
} 
h1{
    font-size:2.4em;
    margin:0;
    color:#FFF;
} 
h2{
    font-size:1.7em;
    margin:0;
    color:#333;
} 
h3{
    font-size:1.4em;
    margin:10px 0 0 0;
    color:#333;
} 
h4{
    font-size:1.2em;
    margin:10px 0 5px 0; 
}
#header{
    width:96%;
    margin:0 0 0 0;
    padding:6px 2% 6px 2%;
    font-family:"trebuchet MS",Verdana,sans-serif; 
    color:#FFF;background-color:#5C87B2; 
}
#content{
    margin:0 0 0 2%;
    position:relative;
} 
.summary-container,.content-container{
    background:#FFF;
    width:96%;
    margin-top:8px;
    padding:10px;
    position:relative;
} 
.content-container p{
    margin:0 0 10px 0; 
}


#details-left{
    width:35%;float:left;
    margin-right:2%; 
}

#details-right{
    width:63%;
    float:left;
    overflow:hidden;               
}

#server_version{
    width:96%;_height:1px;
    min-height:1px;
    margin:0 0 5px 0;
    padding:11px 2% 8px 2%;
    color:#FFFFFF; 
    background-color:#5A7FA5;
    border-bottom:1px solid #C1CFDD;
    border-top:1px solid #4A6C8E;
    font-weight:normal; 
    font-size:1em;color:#FFF;
    text-align:right; 
}

#server_version p{
    margin:5px 0; 
}
 
table{
    margin:4px 0 4px 0;
    width:100%;
    border:none; 
} 

td,th{
    vertical-align:top;
    padding:3px 0;
    text-align:left;
    font-weight:normal;
    border:none;
} 

th{width:30%;
   text-align:right;
   padding-right:2%;
   font-weight:bold;
} 

thead th{
    background-color:#ebebeb;
    width:25%;         
}

#details-right th{
    width:20%;
} 

table tr.alt td,table tr.alt th{} 

.highlight-code{
    color:#CC0000;
    font-weight:bold;
    font-style:italic;
} 

.clear{
    clear:both; 
} 

.preferred{
    padding:0 5px 2px 5px;
    font-weight:normal;
    background:#006633;
    color:#FFF;
    font-size:.8em;
}


/*start new css*/
.logo {
   /* padding-bottom: 5px; */
    padding-top: 5px;
    float: left;
    width: 210px;
    height: 60px;
    margin-top: 7px;
}

.topRht_Ad{
    float: right;
    width: 250px;
    height: 65px;
    border: solid 1px #ccc;
    margin-top: 15px;
    text-align: center;
}

.topheight {
    height: 85px;
}


/*start menu*/
.menuDevider {
    width: 1px;
    height: 12px;
    margin-top: 10px;
    background: #82BAE5;
}

.topmenuArea {
    background: rgb(2,134,201); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(2,134,201,1) 1%, rgba(84,190,211,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(2,134,201,1)), color-stop(99%,rgba(84,190,211,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(2,134,201,1) 1%,rgba(84,190,211,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(2,134,201,1) 1%,rgba(84,190,211,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(2,134,201,1) 1%,rgba(84,190,211,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(2,134,201,1) 1%,rgba(84,190,211,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0286c9', endColorstr='#54bed3',GradientType=0 ); /* IE6-9 */
	border-bottom:solid 1px #191a1a;
    margin-top: 5px;
    height: 30px
}


#navmenu{
	/*width:1024px;*/

}

#navmenu, #navmenu ul{
	margin:0;
	padding:0;
	background-repeat:no-repeat;
	height:20px;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:30px; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

#navmenu{
    z-index:2000;
}

#navmenu a{
	display:block;
	padding:0px 6px;
	text-decoration:none;
	padding:0 20px  0 20px; 
    color: #fff;
}

#navmenu li a:hover{
	background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,249,249,1) 7%, rgba(229,229,229,1) 98%, rgba(188,188,188,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,rgba(249,249,249,1)), color-stop(98%,rgba(229,229,229,1)), color-stop(100%,rgba(188,188,188,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 7%,rgba(229,229,229,1) 98%,rgba(188,188,188,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,249,249,1) 7%,rgba(229,229,229,1) 98%,rgba(188,188,188,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,249,249,1) 7%,rgba(229,229,229,1) 98%,rgba(188,188,188,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,249,249,1) 7%,rgba(229,229,229,1) 98%,rgba(188,188,188,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
	color: #0a7fc4;
}


#navmenu li{
	float:left;
	position:relative;
	text-align:center;
    color:#fff;
}


#navmenu ul {
	position:absolute;
	display:none;
	top:30px;
}
.menuLinspace{
	line-height: 15px;
}

#navmenu li ul a{
	/*width:140px;*/
	height:auto;
	float:left;
	background-color:#000;
	height:32px;
	}
#navmenu li ul a:hover{
	background-repeat:repeat-x;
	color:#C36;
}

#navmenu ul ul{
	top:auto;
}
	
#navmenu ul li{
	text-align:left;
}	


#navmenu li:hover ul ul, #navmenu li:hover ul ul ul, #navmenu li:hover ul ul ul ul{
display:none;
}

#navmenu li:hover ul, #navmenu li li:hover ul, #navmenu li li li:hover ul, #navmenu li li li li:hover ul{
display:block;
}


.homeicon {
    float: left; 
    margin-top: 5px;
}
.homeicon a{
	color: #FFF;
	font-weight: bold;
	font-size: 11px;
	line-height: 18px;
}
.menuFree{
	position: absolute; 
	font-size: 10px; 
	color: red; 
	font-weight: bold; 
	margin-left: 125px; 
	margin-top: -7px;
}

.menuFree2{
	position: absolute; 
	font-size: 10px; 
	color: red!important; 
	font-weight: bold; 
	margin-left: 120px !important;; 
	margin-top: -7px;
}
.submenudiv{
   /* background: #3587AD;
    opacity: 0.90;
    -moz-opacity: 0.90;*/
  	padding: 10px;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}

.submenudiv u{
	font-size: 12px;
	color: #0a7fc4;
	font-weight: bold;
	text-decoration: none;
}

.zoneMenu{
	 background: #FFF;
    /*-webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;*/
    border:solid 1px #333;
    border-top:none;
   padding-left: 10px;
}
.citylocMenu{
	background: #FFF;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    padding: 5px;
    margin-top: -30px;
    width: 148px;
}
.submenudiv2 u{
	font-size: 12px;
	color: #0a7fc4;
	font-weight: bold;
	text-decoration: none;
}
.submenudiv_link {
    color: #fff;
    padding-right: 30px;
    font-size: 11px;
    height: 15px !important;
    line-height: 15px !important;
}

.submenudiv_link a {
    padding: 0 !important;
    text-decoration: none;
    background: none !important;
    color: #000 !important;
    height: 10px !important;
    line-height: 10px !important;
    cursor: pointer;
}

.submenudiv_link a:hover {
    text-decoration: none !important;
    color: #ccc!important;
    text-shadow: none;
}
.sorsale {
    width: 500px;
}
.sorsale3 {
    width: 147px;
}
.sorsale2 {
     width: 465px;
}

.loc_left {
    margin-left: 20px;
}
.proDiv{
	float: left;
	border-left:solid 1px #7db9e8; 
	padding-left: 46px;
	margin-top: -15px;
	margin-left: 20px;
}

.loc_left2 {
     margin-left: 25px;
     line-height: 20px;
}

.loc_left3 {
     margin-left: 25px;
     line-height: 20px;
     line-height: 20px;
     height: 20px;
}

.vLine {
    border-left: solid 1px #7db9e8;
    padding-left: 5px;
}
.br_line {
    background: #7db9e8; 
    height: 1px;
}
/*end menu*/




.src_bg {
    background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,249,249,1) 7%, rgba(229,229,229,1) 98%, rgba(188,188,188,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,rgba(249,249,249,1)), color-stop(98%,rgba(229,229,229,1)), color-stop(100%,rgba(188,188,188,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 7%,rgba(229,229,229,1) 98%,rgba(188,188,188,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,249,249,1) 7%,rgba(229,229,229,1) 98%,rgba(188,188,188,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,249,249,1) 7%,rgba(229,229,229,1) 98%,rgba(188,188,188,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,249,249,1) 7%,rgba(229,229,229,1) 98%,rgba(188,188,188,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
    /*margin-top: 10px;*/
    padding-bottom: 5px;
}

.src_blue_bg {
    background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */
    width: 670px;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    height: 70px;
    margin-top: 10px;
}
.srcVerLine {
    width: 1px; 
    height: 60px; 
    float: left; 
    margin-left: 40px; 
    margin-top: 15px; 
    background: #999;
}
.src_text {
    font-size: 25px;
    font-family: Arial Black;
    color: #FFF;
    padding-left: 5px;
}
.por_text{
    color: #a8c864;
    font-size: 18px;
    font-family: Arial Black;
    margin-left: 30px;
}

.src_innerLeft {
    float: left; 
    width: 220px; 
    height: 80px;
}

.src_formArea {
    float: left;
    width: 420px;
    height: 80px;
    margin-top: 5px;
}
.slcBox{
	border: solid 1px #2cafe3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	padding: 5px 0 5px 5px;
	background: #FFF;	
}
.typBtn{
    width: 50px;
    float: left;
    font-weight: bold;
    font-size: 11px;
    color: #FFF;
    margin-left: 1px;
    background: #7db9e8;
    text-align: center;
    line-height: 20px;
}
.typBtn a {
    color: #FFF;
    display: block;
    text-decoration: none;
}

.typBtn a:hover {
    display: block;
    text-decoration: none;
    background: #006bb3;
}

.typBtn_Box {
    width: 380px;
    color: #FFF;
    /*border-bottom: solid 1px #006bb3;*/
    height: 21px;
}

.formBg {
    background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
   /*padding: 10px 0 5px 5px;*/ 
    -moz-opacity: 0.90;
   /*opacity: 0.90;*/ 
    width: 444px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

.src_Property {
    width: 170px;
    /*margin-left: 10px;*/
    background: #FFF;
    border: none;
}
.typ_Src_Btn {
    background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */
    color: #FFF;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
   /* margin-top: 5px;*/
}

.postAdButton {
    float: right;
    margin-left: 10px;
    text-align: center;
    /*line-height: 30px;*/
    font-size: 20px;
    font-weight: bold;
    color: #FFF !important;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #000;
    background: rgb(249,168,1); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,168,1,1) 2%, rgba(232,139,0,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(249,168,1,1)), color-stop(98%,rgba(232,139,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a801', endColorstr='#e88b00',GradientType=0 ); /* IE6-9 */
    padding: 20px 35px 20px 35px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
   margin-top: 10px; 
}


.postAdButton:hover{
	background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */
	color: #FFF;
}

.altButton {
    background: rgb(255,175,75); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
    color: #666;
     -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    margin-top: 8px;
    line-height: 20px;
    text-align: center;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    font-weight: bold;
}


.altButton:hover{
	background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */
	color: #FFF;
}
.altText {
    color: #333;
    font-weight: 600px;
}
.bannerad {
    text-align: center;
    width: 728px;
    height: 50px;
    border: solid 1px #CCC;
    margin-top: 10px;
}
.listBox {
    float: left;
    width: 232px;
    border: solid 1px #ccc;
    height: 175px;
    margin-left: 15px;
    margin-top: 10px;
}

.listHeading {
    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 1%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(247,247,247,1) 1%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    color: #666;
    font-weight: bold;
    font-size: 13px;
    padding: 5px;
}

.listBox ul {
    padding-left: 5px;
	margin-top:5px;
}

.listBox ul li{
    list-style: none;
    line-height: 15px;
}

.listBox ul li a {
    color: #777;
}

.listBox ul li a span {
    color: #ccc;
    margin-left: 5px;
    font-size: 11px;
}

.listBox ul li a:hover {
    color: #007EFF;
    text-decoration: underline;
}

.listBox ul li a span:hover {
    color: #CC0000;
    text-decoration: underline;
}
.listBox ul li a b {
    font-weight: bold;
    font-size: 12px;
    color: #3587AD !important;
}
.bodyad{
    float: left;
    width: 355px;
    margin-left: 15px;
    margin-top: 10px;
    height: 65px;
    border: solid 1px #ccc;
    text-align: center;
}

.hotprojectArea {
    border: solid 1px #ccc;
    width: 727px;
    margin-left: 15px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.detailprojectArea {
    border: solid 1px #ccc;
    width: 727px;
    margin-left: 15px;
    /*margin-top: 10px;*/
    padding-bottom: 15px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	min-height:1000px;
}

.detailprojectArea h1{
	background:#e3e3e3; 
	padding:5px;
	box-shadow: 2px 2px 1px #999;
	border-top-left-radius: 5px 3px;
	border-top-right-radius: 5px 3px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	color:#7d7a7a;
	font-weight:bold;
	font-size:24px;
}

.detailBox{
	float:left; 
	width:340px; 
	/*border:solid #000 1px; */
	margin-left:15px;
}

.detailprojectArea h2{
	margin-top:5px;
	color:#7d7a7a;
	font-weight:bold;
	font-size:18px;
	margin-left:5px;
}

.detailArea{
	width:725px;   
	height:510px;
}
.shareDiv{
	width:350px; 
	margin-left:350px;
	color:#9b9e9f;
	font-size:11px;
}
.shareDiv a{
	color:#9b9e9f;
	text-direction:none;
}
.shareDiv a:hover{
	color:#18a7e3;
	text-direction:none;
}
.hideShare{
	width:160px; 
	margin-left:200px;
	display:none;
	z-index:1000;
}

.at{
	color:#9b9e9f;
	font-size:13px;
	font-weight:normal;
}
.at2{
	color:#9b9e9f;
	font-size:13px;
	font-weight:normal;
	margin-left:5px;
}

.matra{
	color:#18a7e3;
	font-size:14px;
	font-weight:bold;
}

.projectRow {
    margin-top: 15px;
    height: 280px;
    width: 720px;
}

.projectCol {
    border: solid 1px #e2e2e2;
    width: 200px;
    height: 280px;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.projectCol:hover {
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}
.imgBox {
    border: solid 1px #e2e2e2;
    width: 121px;
    height: 126px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    margin-left: 38px;
    margin-top: 15px;
}
.proName {
    text-align: center;
    color: #148fce;
    font-size: 13px;  
    margin-top: 10px;
}
.proRoome {
    text-align: center;
    color: #148fce;
    font-size: 13px;  
    margin-top: 3px;
}
.proLoc{
    text-align: center;
    color: #5d5e5f;
    font-size: 13px;  
    margin-top: 3px;
}
.proPrice{
    text-align: center;
    color: #f48900;
    font-size: 16px;  
    margin-top: 3px;
    font-weight: bold;
}
.details {
    color: #FFF;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    width: 60px;
    line-height: 20px;
     background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */
    margin-left: 70px;
    /*margin-top: 10px;*/
     -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.details a {
   /* color: #FFF;
    text-decoration: none;
    display: block;*/
}

.details:hover {
    color: #06C;
    text-decoration: none;
    display: block;
	background:#F90;
}

.dev_logoArea {
    width: 726px;
    height: 45px;
    margin-top:10px;
}
.dev_logoArea ul{
    margin: 0;
    padding: 0;
}

.dev_logoArea ul li {
    list-style: none;
    float: left;
    height: 45px;
    width: 109px;
    margin-left: 10px;
    border: solid 1px #ccc;
    text-align: center;
}

.leftad_Area {
    border: solid 1px #ccc;
    padding-bottom: 14px;
    margin-top: 10px;
   /* height: 420px;*/
}
.adLeftBox {
    /*border: solid 1px #e2e2e2;*/
    background: #f5f6f6;
    margin-top: 10px;
    width: 235px;
    margin-left:5px;
    height: 60px;
}

.adLeftBox:hover {
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
    cursor: pointer;
}
.adsale {
    float: left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
    font-size: 10px;
    color: #FFF;
    font-weight: bold;
    background:#2a4180;
    text-align: center;
    width: 45px;
    margin-top: 20px;
    margin-left: -10px;
}

.adTitleArea {
    float: left;
    margin-left: -10px;
    color: #2a4180;
    font-weight: normal;
     width: 200px;
}

.adTitleArea a {
    float: right;
    color: #29b0e8;
    text-decoration: none;
}

.adTitleArea a:hover {
    color: #29b0e8;
    text-decoration: Underline;
}
.viwAll {
    font-weight: bold;
    color: #333;
    font-size: 11px; 
}
.viwAll a{
    float: right;
    text-decoration: none;
    color: #333;
    margin-right: 10px;
    margin-top: 5px;
}

.viwAll a:hover {
    text-decoration: underline;
    color: #29b0e8;
}
.butterfly{
    margin-top: 10px;
    text-align: center;
    border: solid 1px #ccc;
    height: 70px;
    width: 245px;
}

.txColor {
    color: #aaacad;
}
.priceSrc{
    width: 230px; 
    margin-left: 10px;
}

.pricesrcList{
    width: 230px; 
    margin-left: 10px;
    color: #5bb3df;
}
.pricesrcList table tr {
	line-height:11px;
}
.news {
    width: 230px; 
    margin-left: 10px;
    color: #666;
    height: 70px;
    /*border-bottom: solid 1px #eae5e5;*/
}

.news:hover {
    cursor: pointer;
  -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;  
	/* border-top:solid #999 1px; 
	border-bottom:solid #999 1px; */
}
.news a {
	float: right;
	color: #blue;
	/* [disabled]text-decoration: none; */
	font-size: 11px;
}
.news a:hover {
    color: #ccc;
    text-decoration: underline
}

.listHover a:hover {
    text-decoration: underline;
    color: #c93ce4;
}

footer{
    background: #f5f5f5;
    margin-top: 20px;
    padding-top: 10px;
}
footer hr{
	
}
.KeySrc {
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    background: #1896e6;
    text-align: center;
    line-height: 30px;
    width: 80px;
    float: left;
}

.KeySrc a {
    text-decoration: none;
    color: #FFF;
    display: block;
}

.KeySrc a:hover {
    color: #1896e6;
    background: #FFF;
    border: solid 1px #e6e5e5;
}

.keyInput {
    height: 30px; 
    width: 258px;
    border: none;
    margin-left: 5px;
}

.footerLink {
    padding-bottom: 20px;
    border-bottom: solid 2px #eee;
    height: 190px;
}

.footerLink ul{
    float: left;
    width: 174px;
    padding: 0;
    margin-left: 30px;
}

.footersrcBox{
	float: right; 
	background:#FFF;
	width: 345px; 
	border: solid 1px #207cca; 
	height: 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

.footerLink ul li {
   list-style: none;
}
.footerLink ul li a{
    color: #999999;
}
.footerLink ul li a:hover {
    color: #3587AD;
    text-decoration: underline;
}
.footerlinkHeading {
    font-size: 13px;
   border-bottom: solid 1px #777;
   color: #333;
   line-height: 30px;
}

.fooretText {
    padding: 20px 0 20px 0;
    text-align: center;
    color: #777;
}

.scrtopImg {
    float: left; 
    margin-top: 10px; 
    margin-left: 10px;
}



.carousel-indicators .active {
background-color: #333 !important;
border: none!important;
}

.carousel-control {
position: absolute;
top: 12% !important;
left: 15px;
width: 40px;
height: 40px;
margin-top: -38px !important;
font-size: 30px !important;
font-weight: 100;
line-height: 44px !important;
color: #FFF;
text-align: center;
background: #222;
/*border: 3px solid #FFF;*/
border: none !important;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
/*opacity: 0.5;*/
filter: alpha(opacity=50);
}

/* --------- END --------- */

.carousel {
	margin-bottom: 0;
	padding: 5px;
}

.carousel-control {
	left: 107px;
}
.carousel-control.right {
	right: -5px;
}

/*For top Indicator*/


.carousel-indicators-top {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

.carousel-indicators-top li {
	background: #333333;
}

.carousel-indicators-top .active {
background: #333333;
border: none!important;
}
 

 /* vertical start*/

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
  border: none!important;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
  border: none!important;
}

.carousel.vertical .active.right {
  top: 100%;
  border: none!important;
}

.carousel.vertical .item {
    left: 0;
}â€‹

/*end latest ad slader*/

/*start categoru menu*/
.urbangreymenu{
width: 190px; /*width of menu*/
}

.urbangreymenu .headerbar{
font: bold 13px Verdana;
color: white;
background: #efefef;
color:#8b8888; 
margin-bottom: 0; 
text-transform: uppercase;
padding: 7px 0 7px 5px; 
cursor:pointer;
box-shadow: 2px 2px 1px #CCC;
}

.urbangreymenu .headerbar a{
text-decoration: none;
color: white;
display: block;
}

.urbangreymenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; 
}

.urbangreymenu ul li{
 padding-bottom: 2px;
}

.urbangreymenu ul li a{
font: normal 12px Arial;
color: #8c8a8a;
background: #fbfafa;
display: block;
padding: 0 0 0 5px;;
line-height: 15px;
padding-left: 8px; 
text-decoration: none;
}

.urbangreymenu ul li a:visited{
color: #7d7a7a;
}

.urbangreymenu ul li a:hover{
color: #7d7a7a;
background: #e3e3e3;
}

/*end category menu*/

.rightDgt{
	float:right; 
	margin-right:5px;
	}
.catHeadLine{
	background:#e3e3e3; 
	padding:5px;
	box-shadow: 2px 2px 1px #999;
	border-top-left-radius: 5px 3px;
	border-top-right-radius: 5px 3px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	color:#7d7a7a;
	font-weight:bold;
	font-size:16px;
}

.catLeftTopImg{
	float:left; 
	width:80px;
	height:70px;
	box-shadow: 2px 2px 1px #999;
	}
.topproName{
	color:#46b6e7;
	font-weight:bold;
	font-size:14px;
	}

.newsTopPro {
    width: 230px; 
    margin-left: 10px;
    color: #666;
    height: 100px;
    border-bottom: solid 1px #EAEAEA;
}

.newsTopPro:hover {
    cursor: pointer;
   -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;   
}
.newsTopPro a {
    float: right;
    color: #c93ce4;
    text-decoration: none;
    font-size: 11px;
}
.newsTopPro a:hover {
    color: #ccc;
    text-decoration: underline
}
.topProText{
	color: #o686565;
	line-height:18px;
}

.carTopRightpor_Area {
    border: solid 1px #ccc;
    padding-bottom: 20px;
    margin-top: 10px;	
}
.carTopRightpor_Area a{
	float:right;
	font-weight:bold;
	}
.catBody{
	border:solid 1px #dad5d5;
	border-top-left-radius: 5px 3px;
	border-top-right-radius: 5px 3px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	}
	
.catBg{
	box-shadow: 2px 2px 1px #999;
	border-top-left-radius: 5px 3px;
	border-top-right-radius: 5px 3px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	background:#e3e3e3;
	height:30px;
	}
.catbutton{
	float:left;
	line-height:30px;
	color:#878686;
	height:30px;
	border-right:solid #D8D8D8 1px;
	cursor:pointer;
	padding: 0 10px 0 10px;
	}
.catbutton:hover{
	background:#FFF;
	-moz-box-shadow:inset  0px 1px 0px 1px #888;
	-webkit-box-shadow:inset  0px 1px 0px 1px #888;
	box-shadow:inset  0px 1px 0px 1px #888;
	}
.catbutton :active {
   /* background:#FFF;
	-moz-box-shadow:inset  0px 1px 0px 1px #888;
	-webkit-box-shadow:inset  0px 1px 0px 1px #888;
	box-shadow:inset  0px 1px 0px 1px #888;*/
}
.catBg .active {
    background:#FFF;
	-moz-box-shadow:inset  0px 1px 0px 1px #888;
	-webkit-box-shadow:inset  0px 1px 0px 1px #888;
	box-shadow:inset  0px 1px 0px 1px #888;
}
.catbutton :selected {
    background:#FFF;
	-moz-box-shadow:inset  0px 1px 0px 1px #888;
	-webkit-box-shadow:inset  0px 1px 0px 1px #888;
	box-shadow:inset  0px 1px 0px 1px #888;
}

.adAll{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:30px;
	padding:2px;
	line-height:15px;
	font-size:11px;
	color:#8b8888;
	-moz-box-shadow: 0 0 3px 3px #ccc;
	-webkit-box-shadow: 0 0 3px 3px#ccc;
	box-shadow: 0 0 3px 3px #ccc;
	text-align:center;
	background:#FFF;
	margin-left:20px;
	}
.catbutton_1{
	width:100px;
	float:left;
	line-height:30px;
	color:#878686;
	height:30px;
	border-right:solid #D8D8D8 1px;
	cursor:pointer;
	padding: 0 10px 0 10px;
	}
.box {
	width:700px;
	height:120px;
	background:#FFF;
	margin:10px auto;
	border:solid 1px #eee;
}


.effect4:hover{
	cursor:pointer;
	-moz-box-shadow: -2px -2px 30px #ccc;
	-webkit-box-shadow: -2px -2px 30px #ccc;
	box-shadow: -2px -2px 30px #ccc;
	}
/*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
  position: relative;

}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.por_whtBox{
	background:#eaeaea;
	text-align:center;
	border:solid 1px #FFF;
	width: 130px;
	height:105px;
	 -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc; 
	margin-left:5px;
	margin-top:5px;
	float:left;
	line-height:105px;
}
.por_ListText{
	float:left;
	width:530px;
	margin-left:25px;
	margin-top:8px;
}
.por_ListText ul{
	padding:0;
	margin:0;
}
.por_ListText ul li{
	list-style:none;
	color:#8b8888;
	line-height:21px;
}
.por_ListHeading{
	color:#18a4e1!important;
	font-size:18px;
}
.bdt{
	font-size:13px;
	color:#575555;
}
.porBy{
	font-size:10px;	
}
.today{
	float:right; 
	font-size:14px;
	color:#b4b3b3;
	}
.bdtRehab{
	font-size:10px;
	color:#575555;
	font-weight:600;
}
.pegDiv{
	margin: auto;
	width: 460px;
	margin-left: 150px;
    /*border: solid 1px #000;*/
}
.sum_Title{
	width:40%; 
	font-weight:bold; 
	color:#706e6e; 
	vertical-align:top
}
.sum_info{
	color:#8d8f8f;
	}
.unit{
	float:left;
	font-weight:bold;
	font-size:13px;
	margin-left:10px;
	margin-top:5px;
	color:#706e6e;
}
.cNow{
	float:right;
	margin-right:5px;
	padding:5px;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	background:#1caee9;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	margin-right:15px;
}
.underLine{
	width:728px; 
	color:#ccc; 
	heigh:10px; 
	margin-left:10px;
}
.cNow:hover{
	background:#F60;
}
.tableTitle{
	background:#ececec;
	font-weight:bold;
	color:#706e6e;
	font-size:12px;
	line-height:35px;
	text-align:center;
	border-right:solid #FFF 1px;
}

.tableContent1{
	background:#fff;
	color:#898787;
	font-size:11px;
	line-height:20px;
	text-align:center;
	border-right:solid #FFF 1px;
}
.tableContent2{
	background:#ececec;
	color:#898787;
	font-size:11px;
	line-height:20px;
	text-align:center;
	border-right:solid #FFF 1px;
}
.tbArea{
	width:700px; 
	margin-left:10px; 
	margin-top:40px;
}
.tbArea a{
	color:#1cb1eb;
	text-decoration:none;
}
.tbArea a:hover{
	color:#1cb1eb;
	text-decoration:underline;
}
.unit2{
	font-weight:bold;
	font-size:13px;
	margin-left:10px;
	margin-top:5px;
	color:#706e6e;
}
.shortDetailArea{
	width:700px;
	color:#838383;
	margin-left:10px;
	font-size:1em;
}
.shortDetailArea h4{
	color:#706e6e;
	font-weight:bold;
	font-size:12px;
}
.InterestedArea{
	width:700px;
	color:#838383;
	margin-left:10px;
	font-size:1em;
	border-top-left-radius: 5px 3px;
	border-top-right-radius: 5px 3px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	border:solid 1px #1caee9;
	margin-top:30px;
}

.InterestTop{
	color:#FFF;
	background:#1caee9;
	padding:5px;
}
.InterestTop b{
	font-size:20px;
	}
.interert{
	background:#e3e3e3; 
	padding:5px;
	box-shadow: 2px 2px 1px #999;
	border-top-left-radius: 5px 3px;
	border-top-right-radius: 5px 3px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	color:#7d7a7a;
	font-weight:bold;
	font-size:24px;
}

.interestBox{ 
	width:680px; 
	margin-left:10px;
	margin-top:10px;
}

.interestBox_input{
	width:330px;
	height:30px;
}

.interestBox table tr td{
	padding-bottom:10px;
}
.interestBox_inputbig{
	width:670px;
	height:30px;
}
.int_submit{
	color: #FFF;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #000;
    background: rgb(249,168,1); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,168,1,1) 2%, rgba(232,139,0,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(249,168,1,1)), color-stop(98%,rgba(232,139,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a801', endColorstr='#e88b00',GradientType=0 ); /* IE6-9 */
	}
.int_submit:hover{
	background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	}
	
	
	
/*-------------*/


.InterestedLeftArea{
	color:#838383;
	font-size:1em;
	border-top-left-radius: 5px 3px;
	border-top-right-radius: 5px 3px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	border:solid 1px #1caee9;
}

.InterestLefTop{
	color:#FFF;
	background:#1caee9;
	padding:5px;
	font-size:19px;
}
.InterestLeftTop b{
	font-size:20px;
	}
.interertLeft{
	background:#e3e3e3; 
	padding:5px;
	box-shadow: 2px 2px 1px #999;
	border-top-left-radius: 5px 3px;
	border-top-right-radius: 5px 3px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	color:#7d7a7a;
	font-weight:bold;
	font-size:24px;
}

.interestLeftBox{ 
	/*width:680px; */
	margin-left:10px;
	margin-top:10px;
}

.interestBoxLeft_input{
	width:220px;
	height:20px;
}

.prem_input{
	width:140px;
	height:20px;
}
.prem_inputbig{
	width:140px;
	height:60px;
}

.interestBoxLeft_input2{
	width:102px;
	height:20px;
}

.interestBoxLeft table tr td{
	padding-bottom:10px;
}
.interestBoxLeft_inputbig{
	width:220px;
	height:60px;
}
.int_submitLeft{
	color: #FFF;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #000;
    background: rgb(249,168,1); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,168,1,1) 2%, rgba(232,139,0,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(249,168,1,1)), color-stop(98%,rgba(232,139,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a801', endColorstr='#e88b00',GradientType=0 ); /* IE6-9 */
	}
.vis_row{
	background:#f6f6f6; 
	border:solid 1px #CCC;
	line-height:25px;
}




/* Tiny Carousel */
#slider1 
	{  
		overflow:hidden; 
		/*padding: 0 0 10px;*/
		width:728px;
		float:left;
	}
#slider1 .viewport 
	{ 
		float: left; 
		width: 700px; 
		height: 300px; 
		overflow: hidden; 
		position: relative;  
 
	}



#slider1 .overview 
	{ 
		list-style: none; 
		position: absolute; 
		padding: 0; 
		margin: 0; 
		width: 251px; 
		left: 0 top: 0;
 
		 }
#slider1 .overview li
	{ 
		float: left; 
		margin: 0 0 0 0; 
		padding: 1px; 
		width: 235px;

	}
.perBottomslidre{
	float:left;
	margin-top:150px;
	width:15px;
}

.projectRowbootom {
    margin-top: 15px;
    height: 280px;
}

.projectColbottom {
    border: solid 1px #e2e2e2;
    width: 200px;
    height: 280px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.projectColbottom:hover {
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}
.imgBox {
    border: solid 1px #e2e2e2;
    width: 121px;
    height: 126px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    margin-left: 38px;
    margin-top: 15px;
}

.detailprojectArea2 {
    border: solid 1px #ccc;
    width: 728px;
    margin-top: 10px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	height:350px;
}

.tabBt{
	float:left;
	text-align:center;
	font-size:11px;
	line-height:10px;
	padding:5px 5px 5px 5px; 
	border:solid 1px #E9E9E9;
	border-bottom:none;
	box-shadow: 2px 2px 1px #999;
	border-top-left-radius: 5px 3px;
	border-top-right-radius: 5px 3px;
	-moz-border-top-left-radius: 5px 3px;
	-moz-border-top-right-radius: 5px 3px;
	-webkit-border-top-left-radius: 5px 3px;
	-webkit-border-top-right-radius: 5px 3px;
	color:#7d7a7a;
	cursor:pointer;
}


.imgTab .active {
    background:#E9E9E9;
	-moz-box-shadow:inset  0px 1px 0px 1px #888;
	-webkit-box-shadow:inset  0px 1px 0px 1px #888;
	box-shadow:inset  0px 1px 0px 1px #888;
}

.loginLeft{
	float:left;
	margin-top:10px;
	width:661px;
	text-align:center;
	}

.contactLeft{
	float:left;
	margin-top:10px;
	width:700px;
	}
.contactLeft h2{
	color:#333;
}
.contacDiv{
	width:480px;
	margin-left:150px;
	margin-top:50px;
	/*border:solid 1px #000;*/
}

.contacRight{
	float:left;
	/*margin-top:10px;*/
	width:280px;
	/*padding:0px 0px 0px 30px;*/
	margin-left:10px;
	/*border:solid #000 1px;*/
	color:#333;
	/*-webkit-box-shadow: 0px 0px 5px 3px rgba(222,219,222,1);
	-moz-box-shadow: 0px 0px 5px 3px rgba(222,219,222,1);
	box-shadow: 0px 0px 5px 3px rgba(222,219,222,1);*/
}
.contacRight h3{
	color:#333;
}
.contacDiv button{
	/*text-shadow: 1px 1px 1px #000;*/
    background: rgb(249,168,1); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,168,1,1) 2%, rgba(232,139,0,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(249,168,1,1)), color-stop(98%,rgba(232,139,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a801', endColorstr='#e88b00',GradientType=0 ); /* IE6-9 */
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
	text-align:center;
	line-height:20px;
	color:#FFF;
	width:40%;
	line-height:30px;
	font-size:16px;
	margin-top:20px;
}


.contacDiv button:hover{
	background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */
	color: #FFF;
}
.contawidth {
	width:220px;
}
	
.logTxt{
	text-align:left; 
	padding-top:30px; 
	width:300px; 
	color:#666; 
	line-height:20px; 
	margin:auto;
}
	
.loginLeft h2{
	margin-top:5px;
	color:#7d7a7a;
	font-weight:bold;
	font-size:18px;
}
.loginRight{
	float:left;
	margin-top:10px;
	width:320px;
	padding:10px 30px 20px 30px;
	margin-left:10px;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(222,219,222,1);
	-moz-box-shadow: 0px 0px 5px 3px rgba(222,219,222,1);
	box-shadow: 0px 0px 5px 3px rgba(222,219,222,1);
	}
	
.loginRight2{
	float:left;
	margin-top:10px;
	width:320px;
	padding:10px 30px 20px 30px;
	margin-left:10px;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(222,219,222,1);
	-moz-box-shadow: 0px 0px 5px 3px rgba(222,219,222,1);
	box-shadow: 0px 0px 5px 3px rgba(222,219,222,1);
	}


.loginRight h2{
	margin-top:5px;
	color:#7d7a7a;
	font-weight:bold;
	font-size:18px;
}
.loginRight input{
	width:100%;
	/*line-height:25px;*/
	margin-top:10px;
}

.loginRight button{
	/*text-shadow: 1px 1px 1px #000;*/
    background: rgb(249,168,1); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,168,1,1) 2%, rgba(232,139,0,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(249,168,1,1)), color-stop(98%,rgba(232,139,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a801', endColorstr='#e88b00',GradientType=0 ); /* IE6-9 */
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
	text-align:center;
	line-height:20px;
	color:#FFF;
	font-weight:bold;
	width:100%;
	line-height:30px;
	font-size:20px;
	margin-top:20px;
}


.loginRight button:hover{
	background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */
	color: #FFF;
}

.loginRight a{
	float:right;
	text-decoration:none;
	color:#06F;
}
.loginRight a:hover{
	color:#F60;
}






.loginRight2 button{
	/*text-shadow: 1px 1px 1px #000;*/
    background: rgb(249,168,1); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,168,1,1) 2%, rgba(232,139,0,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(249,168,1,1)), color-stop(98%,rgba(232,139,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a801', endColorstr='#e88b00',GradientType=0 ); /* IE6-9 */
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
	text-align:center;
	line-height:20px;
	color:#FFF;
	font-weight:bold;
	width:100%;
	line-height:30px;
	font-size:20px;
	margin-top:20px;
}


.loginRight2 button:hover{
	background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */
	color: #FFF;
}

.loginRight2 a{
	float:right;
	text-decoration:none;
	color:#06F;
}
.loginRight2 a:hover{
	color:#F60;
}




.postAdButton2 {
    text-align: center;
    /*line-height: 30px;*/
    font-size: 20px;
    font-weight: bold;
    color: #FFF!important;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #000;
	background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */	
    padding: 20px 35px 20px 35px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    margin-top: 60px; 
}

.tdwidth{
	width: 100px !important;
	
}

.tdwidth2{
	/*width: 100px !important;*/
	padding:5px 0 5px 0!important;
	margin: 0 !important;
	font-weight: bold;
}
.tdwidth tr td input{
	width: 100px;
}

.postAdButton2:hover{
	background: rgb(249,168,1); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,168,1,1) 2%, rgba(232,139,0,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(249,168,1,1)), color-stop(98%,rgba(232,139,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,168,1,1) 2%,rgba(232,139,0,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a801', endColorstr='#e88b00',GradientType=0 ); /* IE6-9 */
	color: #FFF;
}

.prem_Left{
	float:left;
	margin-top:10px;
	width:661px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	border:solid 1px #03F;
	min-height:500px;
	}
.premTitle{
	-moz-border-top-right-radius:5px;
    -webkit-border-top-right-radius:5px;
    -khtml-border-top-right-radius:5px;
    border-top-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -khtml-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
	text-shadow: 1px 1px 1px #000;
	background: rgb(23,166,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(23,166,226,1) 0%, rgba(2,110,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,166,226,1)), color-stop(100%,rgba(2,110,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(23,166,226,1) 0%,rgba(2,110,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a6e2', endColorstr='#026eb6',GradientType=0 ); /* IE6-9 */	
	width:340px;
	color:#FFF;
	line-height:50px;
	font-size:20px;
	margin-top:20px;
	padding:0 0 0 10px;
	}
	
.prem_right{
	float:left;
	margin-top:10px;
	width:320px;
	margin-left:10px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	border:solid 1px #03F;
	min-height:500px;
	}
	
.verMember{
    float: left;
	margin-left:4px;
	margin-top:43px;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
    font-size: 21px;
	padding:10px;
    color: #FFF;
    background:#2a4180;
    text-align: center;
	background: #cdeb8e; /* Old browsers */
background: #b0e088; /* Old browsers */
background: -moz-linear-gradient(top,  #b0e088 0%, #86b74e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0e088), color-stop(100%,#86b74e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b0e088 0%,#86b74e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b0e088 0%,#86b74e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b0e088 0%,#86b74e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b0e088 0%,#86b74e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e088', endColorstr='#86b74e',GradientType=0 ); /* IE6-9 */
}

.per_Top{
	float:right;
	text-align:right;
	font-weight:bold;
	margin-top:30px;
}

.pem_memeberLogo{
    border: solid 1px #ccc;
    width: 990px;
    margin-top: 10px;
	height:120px;
}


div#wn { 
	position:relative; 
	width:960px; height:80px; 
	overflow:hidden;
	margin: 10px 0 0 10px;
	}
    
div#inner1, div#inner2 {
    white-space:nowrap;
    }
div#inner1 img {
    padding-right:10px;
    }
	
	
	
.postInnerLeft{
	background:#E4E4E4;	
	padding:5px;
	margin-top:30px;
	}
.post1{
	float:left;
	color:#FFF;
	background:#F90;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	font-size:18px;
	margin-top:5px;
}
.post2{
	float:left;
	background:#E4E4E4;	
	width:94%;
	padding: 5px 0 5px 5px;
	color:#EF6334;
	font-size:18px;
	margin-left:5px;
	margin-top:5px;
}

.input-mini2{
	width: 90px !important;
	float: left;
}

.input-mini3{
	width: 90px !important;
	float: left;
}
.spanTo{
	float:left;
	line-height:30px; 
	width:45px; 
	text-align: center
}

.sta_row{
	background: #e4e4e4;
	line-height: 30px;
}
.sta_row th{
	text-align: center;
	border: solid 1px #e4e4e4;
}
.sta_contant{
	text-align: center;
	color: #888;
	line-height: 20px;
	border: solid 1px #e4e4e4;
	border-top:none;
	vertical-align: middle;
}

.any{
	float: right;
	font-size: 14px;
}
.any2{
	font-size: 22px;
	font-weight: bold;
	color: #207CCA;
	float: right;
}
.adalign{
	margin-left: 150px;
	margin-top: 20px;
}
.adalign td{
	vertical-align: middle;
} 


